
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;
  color:#40514E;
}

h1{
  margin: 50px auto 0 auto;
  font-size: 5.5rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.bottom-cloud{
  position:absolute;
  left:30%;
}

.top-cloud{
  position:absolute;
  right:30%;
  top:50px;
}

.yomero{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.coding-image{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
}

.management-image{
  width: 25%;
  float: right;
  margin: 30px 0 0 30px;
}

.profile{
  width: 50%;
  margin: auto;
}

.top-container{
  background-color:#EAF6F6;
  position:relative;
  padding-top: 100px;
}

.middle-container{
  margin:100px 0;
}

.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 0 15px 0 15px;
}

a:hover{
  color:#EAF6F6;
}
hr{
  width: 8%;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  color:#EAF6F6;
  margin: 100px auto 100px auto;
}

.contact-me{
  width: 50%;
  margin: 40px auto 30px;
}

.bottom-container{
  background-color: #66BFBF;
  margin-top: 50px;
  padding: 50px 0 20px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}


.myButton {
	background:linear-gradient(to bottom, #66bfbf 5%, #11999e 100%);
	background-color:#66bfbf;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:0 20px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
  margin: 35px 0 10px 0;
}
.myButton:hover {
	background:linear-gradient(to bottom, #11999e 5%, #66bfbf 100%);
	background-color:#11999e;
}
.myButton:active {
	position:relative;
	top:1px;
}
